/* Inter Font Google  */
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap");

body {
  font-family: "Inter", sans-serif;
}

.navbar-search a,
.social-icon a {
  text-decoration: none;
}

.hero {
  background-image: linear-gradient(#e0f3fa, #cce7f0);
}
.recipe-badge {
  top: 30px;
  right: 0;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}
.card {
  border-radius: 15px;
}
.card img {
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}
