/* Inter Font Google  */
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap");

body {
  font-family: "Inter", sans-serif;
}

.navbar-search a,
.social-icon a {
  text-decoration: none;
}

.hero {
  background-image: url("/images/fb-bg.png");
  background-repeat: no-repeat;
  background-position: center;
}

@media only screen and (max-width: 767px) {
  .hero {
    background-size: 0%;
  }
}
